.footer {
  padding: 20px;
  text-align: center;
  color: black;
}

.avatar {
  vertical-align: middle;
  width: 50px;
  height: 50px;
  border-radius: 50%;
} 

.avcard {
  display: flex;
  align-items: center;
  justify-content: center;
}

.avtxt {
  font-size: 20px;
  padding-left: 16px;
  text-align: left;
}
