/* Create a Parallax Effect */
.banner, .banner2, .banner3, .links {
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner {
    /* The image used */
    background-image: url("/lib/img/table.jpg");

    /* Full height */
    height: 50%;
}

.banner2 {
    /* The image used */
    background-image: url("/lib/img/tree.jpg");

    /* Full height */
    height: 50%;
}

.banner3 {
    /* The image used */
    background-image: url("/lib/img/city.jpg");

    /* Full height */
    height: 50%;
}

.banner4 {
    /* The image used */
    background-image: url("/lib/img/canyon.jpg");

    /* Full height */
    height: 50%;
}

.links {
    /* The image used */
    background-image: url("/lib/img/mountain.jpg");

    /* Full height */
    height: 70%;
}

.banner-text, .links-text {
    transform: translate(-50%, -50%);
    padding: 1rem 1rem 1rem 1rem;
    position: relative;
    text-align: center;
    font-size: 5rem;
    left: 50%;
}

.banner-text {
    max-width: 37%;
    top: 40%;
    color: white;
    background-color: #282828;
    box-shadow: 5px 5px 5px #121212;
}

.links-text {
    max-width: 100%;
    top: 30%;
    color: black;
}

/* Turn off parallax scrolling for all tablets and phones. Increase/decrease the pixels if needed */
@media only screen and (max-width: 600px) {
    .banner, .links {
        background-attachment: scroll;
        height: 25%;
    }
}

@media only screen and (max-width: 600px) {
    .banner-text, .links-text {
        font-size: 1.2rem;
    }
    .banner-text {
        max-width: 40%;
    }
}
