body {
    background-color: #fff;
}

.main {
    margin: 40px auto;
    max-width: 650px;
    line-height: 1.6;
    font-size: 18px;
    color: #444;
    padding: 0 10px;
}

.main h1,h2 {
    font-size: 36px;
    line-height: 1.2;
    padding: 10px 0;
}

h3 { 
    font-size: .67em;
    color: #808080;
}

.footnote {
    font-size: 14px;
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
}

blockquote:before {
    color: #ccc;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    display: inline;
}

sup {
    vertical-align: super;
    font-size: smaller;
}

sub {
    vertical-align: sub;
    font-size: smaller;
    text-decoration: none;
}

code {
    border: 1px solid #999;
    background-color: #eee;
    padding: 0 1px;
    margin: 0 2px;
}

pre code {
    display: block;
    margin: 20px;
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    background-color: #eee;
    margin: auto;
}

td {
    width:20%;
}

.highlight {
    background-color: #ffea61;
}

.highlight-green {
    background-color: #90ee90;
}

.highlight-red {
    background-color: #ffcccb;
}

.img {
    text-align: center;
    margin: auto;
}

.main a {
    text-decoration: none;
}

.main ul {
    padding-left: 3rem;
}

.center {
    text-align: center;
}
