code {
    border: 1px solid #999;
    background-color: #eee;
    padding: 0 1px;
    margin: 0 2px;
}

pre code {
    display: block;
    margin: 20px;
}

table, td {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    padding: 10px;
    background-color: #eee;
    margin: auto;
}

td {
    width:20%;
}

.highlight {
    background-color: #ffea61;
}

.highlight-green {
    background-color: #90ee90;
}

.highlight-red {
    background-color: #ffcccb;
}
